.navbar-brand img {
    height: 2.125rem;
}
.logo-subtitle{
    color: #fff;
    font-size: 12px;
    margin-bottom: 0;
}
.sm-lh{
    line-height: 1.2em;
}
.alternate-row{
    padding: 6px 0px;
}
.alternate-row:nth-child(even){
    background: #f4f4f4;
}
.bb-1{
    border-bottom: 1px solid #ddd;
}
.view-password{
    right: 0;
    left: auto!important;
    cursor: pointer;
}
.pr-form-control-icon{
    padding-right: 2.75rem;
}
.table-comment-width{
    width: 250px!important;
}
.cursor-none .select2-container{
    pointer-events: none;
}
.sm-icon{
    font-size: 10px;
}
.site-logo{
    width: 60px;
}